.online-box {
  margin-bottom: 30px;
}

#room-code {
  background-color: white;
  border: none;
  padding: 10px;
  font-size: 15px;
  width: 150px;
}

#join-button {
  background-color: white;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
}

#connection-status {
  font-weight: bold;
}

#player-count {
  margin-top: 5px;
}
